  <h2>
  <% if flash[:notice] %>
  <%= flash[:notice] %>
  <% end %>
  </h2>
<%= form_for @target_user do |f| %>
  <div>
    <%= f.label "Username:" %>
    <%= f.hidden_field :username %>
    <%= @target_user.username %>
  </div>
  <div>
    <%= f.label "Password:" %>
    <span class="block"><%= text_field_tag :password %></span>
  </div>
  <div>
    <%= f.label "Quota:" %>
    <span class="block"><%= f.text_field :quota %> MB</span>
  </div>
  <div>
    <%= f.label "Search All:" %>
    <%= f.check_box :p_search_all %>
  </div>
  <div>
    <%= f.label "Administrator:" %>
    <%= f.check_box :p_admin %>
  </div>
  <div>
    <%= f.submit "Apply" %>
  </div>
<% end %>