<section id="admin">
    <h1>Administer Users</h1>
    <table>
      <tr>
        <th colspan="5">Users</th>
      </tr>
      <tr>
        <th>Username</th>
        <th>Number of Files</th>
        <th>Total File Space Used</th>
        <th>Quota</th>
        <th>Actions</th>
      </tr>
      <% @users.each do |u| %>
      <tr>
      <% logger.debug("attributes = %s" % u.attributes.keys.join(", ")) %>
        <td><%= u.attributes["u.username"] %></td>
        <td><%= u.attributes["num"] %></td>
        <td><%= u.attributes["size"] %></td>
        <td><%= u.attributes["u.quota"] ? 0 : "unlimited" %></td>
        <td><%= link_to "Edit", "/users/edit/#{u.attributes['u.id'].to_i}" %></td>
      </tr>
      <% end %>
    </table>
</section>
  