<section id="admin">
    <h1>Administer Users</h1>
    <%= form_tag '/users/new' do %>
    <p><%= submit_tag 'Create New User/Group', :id => "creategroup" %></p>
    <% end %>
    <table>
      <tr>
        <th colspan="5">Users</th>
      </tr>
      <tr>
        <th>Username</th>
        <th>Number of Files</th>
        <th>Total File Space Used</th>
        <th>Quota</th>
        <th>Actions</th>
      </tr>
      <% @users.each do |u| %>
      <tr>
        <td><%= u.attributes["u.username"] %></td>
        <td><%= u.attributes["num"] %></td>
        <td><%= u.attributes["size"] %></td>
        <td><%= u.attributes["u.quota"] ? 0 : "unlimited" %></td>
        <td><%= link_to "Edit", "/users/edit/#{u.attributes['u.id'].to_i}" %></td>
      </tr>
      <% end %>
    </table>
</section>
  