    <script type="text/javascript">
      $(document).ready(function () {
        $('#upload_datafile').focus();
      });
    </script>
    <% if @df && @user.id == @df.creator_id %>
    <header>
    File saved under token <%= @df.token_id %> [<a href="http://<%= koin_host %><%= koin_port == '80' ? '' : ':' + koin_port %>/token/<%= @df.token_id %>">link</a>]
    </header>
    <% else %>
      <% if @token %>
      <header>
        Token <%= @token %> not found or permission not granted
      </header>
      <% end %>
    <% end %>
    <div class="spacer">
    </div>
    <div>
      <%= form_tag({controller: 'koin', action: 'uploadFile'}, :multipart => true) do %>
        <p><label for="upload_file">Select File</label>: 
        <%= file_field 'upload', 'datafile' %></p>
        <% if !@guest %>
        Allow downloads for this file from:<br />
        <%= radio_button_tag :download_perms, 'me' %>Only Me<br />
        <%= radio_button_tag :download_perms, 'users' %>Any Logged In User<br />
        <%= radio_button_tag :download_perms, 'anyone', checked: true %>Anyone<br />
        <% end %>
        <%= submit_tag "Upload" %>
      <% end %>
    </div>

