    <table border="1" id="filetable">
      <% if @files.length > 0 %>
        <tr>
          <th>Filename</th>
          <th>URL</th>
          <th>Size</th>
          <th>Creator</th>
          <th>Expiration</th>
          <th>Action</th>
        </tr>
        <% #debugger %>
        <% for file in @files %>
          <tr>
            <td><%= File.basename(file.path) %></td>
            <td><a href="<%= "http://#{request.host_with_port}/token/#{file.token_id}" %>"><%= File.basename(file.path) %></a></td>
            <td><%= File.size(file.path) %></td>
            <td><%= User.find(file.creator_id).username %></td>
            <td>&nbsp;</td>
            <td><submit_tag "Delete"></td>
          </tr>
        <% end %>
      <% elsif %>
        <tr><td>No viewable files found.</td></tr>
      <% end %>
    </table>
